
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Pinterest</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="stylesheets/main.css" type="text/css">

</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="#">Pinterest</a></h1>
      <h2>by Jimena Ramírez</h2>
    </div>
    <form action="#" method="post">
      <fieldset>
        <legend>Busqueda:</legend>
        <input type="text" value="Busca en el sitio&hellip;" onFocus="this.value=(this.value=='Busca en el sitio&hellip;')? '' : this.value ;">
        <input type="submit" id="sf_submit" value="buscar">
      </fieldset>
    </form>
    <nav>
      <ul>
        <li><a href="#">Categorías</a></li>
        <li><a href="#">Fondos</a></li>
        <li><a href="#">Dibujos</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->

    <!-- main content -->
    <div id="intro">

    </div>


    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Salma Jimena Ramírez Ramírez</a></p>

  </footer>
</div>
</body>
</html>
