  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active">
    <center><img src="https://www.planwallpaper.com/static/images/hd_wallpapers_a13_qXpvPrU.jpg" alt="Tecnologías de la Información y Comunicación"  style="width: 100%; height: 550px;"></center>
    <div class="carousel-caption d-none d-md-block">
    <h3>TICS</h3>
    <p>Jimena Ramírez</p>
    </div>
    </div>

    <div class="carousel-item">
    <center><img src="http://wallpapercanyon.com/wp-content/uploads/2016/01/Blue-Wallpapers-15.jpg" alt="Ruby" style="width: 100%; height: 550px;"></center>
    <div class="carousel-caption d-none d-md-block">
    <h3>RUBY</h3>
    <p>Desarrollo Aplicaciones</p>
    </div>
    </div>


    <div class="carousel-item">
    <center><img src="http://www.technocrazed.com/wp-content/uploads/2015/11/HD-Galaxy-Wallpapers-Free-Download-110.jpg" alt="Pinterest" style="width: 100%; height: 550px;"></center>
    <div class="carousel-caption d-none d-md-block">
    <h3>PINTEREST</h3>
    <p>Fotos</p>
    </div>
    </div>


  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>