
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Pinterest</title>
<meta charset="iso-8859-1">
<link rel="stylesheet" href="stylesheets/main.css" type="text/css">

</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="#">Pinterest</a></h1>
      <h2>by Jimena Ramírez</h2>
    </div>
    <form action="#" method="post">
      <fieldset>
        <legend>Busqueda:</legend>
        <input type="text" value="Busca en el sitio&hellip;" onFocus="this.value=(this.value=='Busca en el sitio&hellip;')? '' : this.value ;">
        <input type="submit" id="sf_submit" value="buscar">
      </fieldset>
    </form>
    <nav>
      <ul>
        <li><a href="#">Categorías</a></li>
        <li><a href="#">Fondos</a></li>
        <li><a href="#">Dibujos</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- Slider -->
    <section id="slider" class="clear">
      <figure><img src="images/demo/630x300.gif" alt="">
        <figcaption>
          <h2>Pinterest</h2>
          <p>Pinterest es una plataforma para compartir imágenes que permite a los usuarios crear y administrar, en tableros personales temáticos, colecciones de imágenes como eventos, intereses, hobbies y mucho más.</p>
          <footer class="more"><a href="#">Read More &raquo;</a></footer>
        </figcaption>
      </figure>
    </section>
    <!-- main content -->
    <div id="intro">
      <section class="clear">
        <!-- article 1 -->
        <!-- Start WOWSlider.com HEAD section -->
          <link rel="stylesheet" type="text/css" href="engine1/style.css" />
          <script type="text/javascript" src="engine1/jquery.js"></script>
          <!-- End WOWSlider.com HEAD section -->
          <!-- Start WOWSlider.com BODY section -->
          <div id="wowslider-container1">
          <div class="ws_images"><ul>
          <li><img src="images/demo/salient-squares/data1/images/dhowboat.jpg" alt="Dhow boat" title="Dhow boat" id="wows1_0"/></li>
          <li><img src="images/demo/salient-squares/data1/images/plumeriaalba.jpg" alt="Plumeria alba" title="Plumeria alba" id="wows1_1"/></li>
          <li><img src="images/demo/salient-squares/data1/images/sailer.jpg" alt="Sailer" title="Sailer" id="wows1_2"/></li>
          <li><img src="images/demo/salient-squares/data1/images/seashells.jpg" alt="Seashells" title="Seashells" id="wows1_3"/></li>
          <li><img src="images/demo/salient-squares/data1/images/sunset.jpg" alt="Sunset" title="Sunset" id="wows1_4"/></li>
          <li><img src="images/demo/salient-squares/data1/images/urchin.jpg" alt="Urchin" title="Urchin" id="wows1_5"/></li>
          <li><img src="images/demo/salient-squares/data1/images/uroabeach.jpg" alt="Uroa beach" title="Uroa beach" id="wows1_6"/></li>
          </ul></div>
          <div class="ws_thumbs">
          <div>
          <a href="#" title="Dhow boat"><img src="images/demo/salient-squares/data1/tooltips/dhowboat.jpg" alt="Dhow boat" /></a>
          <a href="#" title="Plumeria alba"><img src="images/demo/salient-squares/data1/tooltips/plumeriaalba.jpg" alt="Plumeria alba" /></a>
          <a href="#" title="Sailer"><img src="images/demo/salient-squares/data1/tooltips/sailer.jpg" alt="Sailer" /></a>
          <a href="#" title="Seashells"><img src="images/demo/salient-squares/data1/tooltips/seashells.jpg" alt="Seashells" /></a>
          <a href="#" title="Sunset"><img src="images/demo/salient-squares/data1/tooltips/sunset.jpg" alt="Sunset" /></a>
          <a href="#" title="Urchin"><img src="images/demo/salient-squares/data1/tooltips/urchin.jpg" alt="Urchin" /></a>
          <a href="#" title="Uroa beach"><img src="images/demo/salient-squares/data1/tooltips/uroabeach.jpg" alt="Uroa beach" /></a>
          </div>
          </div>
          <div class="ws_shadow"></div>
          </div>
          <script type="text/javascript" src="images/demo/wowslider.js"></script>
          <script type="text/javascript" src="images/demo/salient-squares/engine1/script.js"></script>
          <!-- End WOWSlider.com BODY section -->

        <!-- article 2 -->
        <article class="two_quarter lastbox">
          <figure>
            <ul class="clear">
              <li><a href="#"><img src="images/demo/130x130.gif" width="130" height="130" alt=""></a></li>
              <li><a href="#"><img src="images/demo/130x130.gif" width="130" height="130" alt=""></a></li>
              <li class="last"><a href="#"><img src="images/demo/130x130.gif" width="130" height="130" alt=""></a></li>
            </ul>
           
          </figure>
        </article>
      </section>
    </div>


    <!-- / content body -->
  </div>
</div>
<!-- Footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Salma Jimena Ramírez Ramírez</a></p>

  </footer>
</div>
</body>
</html>
